## DP - Lecture 1

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/Ecdat/USstateAbbreviations.csv')

In [3]:
df.head()

,Unnamed: 0,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
0,2,United States,Federal state,US\nUSA,US,0.0,NaN,NaN,U.S.,U.S.,U.S.A.
1,3,Alabama,State,US-AL,AL,1.0,AL,AL,Ala.,Ala.,NaN
2,4,Alaska,State,US-AK,AK,2.0,AK,AK,Alaska,Alaska,Alas.
3,5,Arizona,State,US-AZ,AZ,4.0,AZ,AZ,Ariz.,Ariz.,Az.
4,6,Arkansas,State,US-AR,AR,5.0,AR,AR,Ark.,Ark.,NaN

In [4]:
df.tail()

,Unnamed: 0,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
71,73,U.S. Armed Forces _ Europe,US military mail code,NaN,NaN,NaN,AE,NaN,NaN,NaN,NaN
72,74,U.S. Armed Forces _ Pacific,US military mail code,NaN,NaN,NaN,AP,NaN,NaN,NaN,NaN
73,76,Panama Canal Zone,Obsolete postal code,NaN,NaN,NaN,CZ,NaN,NaN,NaN,NaN
74,78,Philippine Islands,Obsolete postal code,PH\nPHL,NaN,NaN,PI,NaN,NaN,NaN,NaN
75,79,Trust Territory of the Pacific Islands,Obsolete postal code,NaN,NaN,NaN,TT,NaN,NaN,NaN,NaN

In [5]:
df.sample()

,Unnamed: 0,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
0,2,United States,Federal state,US\nUSA,US,0.0,NaN,NaN,U.S.,U.S.,U.S.A.

In [6]:
df.sample(6)

,Unnamed: 0,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
20,22,Maine,State,US-ME,ME,23.0,ME,ME,Maine,Maine,Me.
64,66,Navassa Island,island,UM-76,NaN,76.0,NaN,NaN,NaN,NaN,NaN
19,21,Louisiana,State,US-LA,LA,22.0,LA,LA,La.,La.,NaN
16,18,Iowa,State,US-IA,IA,19.0,IA,IA,Iowa,Iowa,"Ia., Ioa."
57,59,U.S. Minor Outlying Islands,Insular areas,UM\nUMI\nUS-UM,UM,74.0,NaN,NaN,NaN,NaN,NaN
37,39,Oklahoma,State,US-OK,OK,40.0,OK,OK,Okla.,Okla.,Ok.

In [7]:
df.columns

Index(['Unnamed: 0', 'Name', 'Status', 'ISO', 'ANSI.letters', 'ANSI.digits',
       'USPS', 'USCG', 'Old.GPO', 'AP', 'Other'],
      dtype='object')

In [8]:
df.dtypes

Unnamed: 0        int64
Name             object
Status           object
ISO              object
ANSI.letters     object
ANSI.digits     float64
USPS             object
USCG             object
Old.GPO          object
AP               object
Other            object
dtype: object

In [9]:
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75], dtype=int64)

In [12]:
df.set_index('Unnamed: 0', inplace=True)

In [13]:
df.head()

,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
Unnamed: 0,,,,,,,,,,
2,United States,Federal state,US\nUSA,US,0.0,NaN,NaN,U.S.,U.S.,U.S.A.
3,Alabama,State,US-AL,AL,1.0,AL,AL,Ala.,Ala.,NaN
4,Alaska,State,US-AK,AK,2.0,AK,AK,Alaska,Alaska,Alas.
5,Arizona,State,US-AZ,AZ,4.0,AZ,AZ,Ariz.,Ariz.,Az.
6,Arkansas,State,US-AR,AR,5.0,AR,AR,Ark.,Ark.,NaN

In [19]:
df['Status'].value_counts

<bound method IndexOpsMixin.value_counts of Unnamed: 0
2                   Federal state
3                           State
4                           State
5                           State
6                           State
7                           State
8                           State
9                           State
10                          State
11               Federal district
12                          State
13                          State
14                          State
15                          State
16                          State
17                          State
18                          State
19                          State
20           State (Commonwealth)
21                          State
22                          State
23                          State
24           State (Commonwealth)
25                          State
26                          State
27                          State
28                          State
29                          State
30                          State
31                          State
                 ...
48                          State
49           State (Commonwealth)
50                          State
51                          State
52                          State
53                          State
54       Insular area (Territory)
55       Insular area (Territory)
56    Insular area (Commonwealth)
57    Insular area (Commonwealth)
58       Insular area (Territory)
59                  Insular areas
60                         island
61                         island
62                         island
63                          atoll
64                          atoll
65                          atoll
66                         island
67                          atoll
68                          atoll
69        Freely associated state
70        Freely associated state
71        Freely associated state
72          US military mail code
73          US military mail code
74          US military mail code
76           Obsolete postal code
78           Obsolete postal code
79           Obsolete postal code
Name: Status, Length: 76, dtype: object>

In [21]:
df.describe()

       ANSI.digits
count    70.000000
mean     40.371429
std      25.196717
min       0.000000
25%      20.250000
50%      37.500000
75%      59.000000
max      95.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 2 to 79
Data columns (total 10 columns):
Name            76 non-null object
Status          76 non-null object
ISO             71 non-null object
ANSI.letters    61 non-null object
ANSI.digits     70 non-null float64
USPS            65 non-null object
USCG            56 non-null object
Old.GPO         57 non-null object
AP              52 non-null object
Other           39 non-null object
dtypes: float64(1), object(9)
memory usage: 6.5+ KB

## Handling missing values

In [28]:
se = pd.Series([1,2,3,5,6])
print(se)

0    1
1    2
2    3
3    5
4    6
dtype: int64

In [29]:
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/pscl/ca2006.csv')

In [30]:
df.head()

,Unnamed: 0,district,D,R,Other,IncParty,IncName,open,contested,Bush2004,Kerry2004,Other2004,Bush2000,Gore2000
0,1,1,111650.0,49663.0,7850.0,D,Thompson,False,True,111754,173926,5508,98506,131376
1,2,2,54829.0,108002.0,5613.0,R,Herger,False,True,173528,102254,3980,150196,81861
2,3,3,72815.0,114155.0,5193.0,R,Lungren,False,True,176512,123671,2936,142946,107690
3,4,4,97705.0,105525.0,10754.0,R,Doolittle,False,True,216838,132267,4119,172169,104437
4,5,5,89119.0,29824.0,7110.0,D,Matsui,False,True,77788,125378,2172,66011,113987

In [31]:
df.isnull().sum()

Unnamed: 0     0
district       0
D              1
R              7
Other         24
IncParty       0
IncName        2
open           0
contested      0
Bush2004       0
Kerry2004      0
Other2004      0
Bush2000       0
Gore2000       0
dtype: int64

In [36]:
#% of data missing from dataset

missing_data = df.isnull().sum()
missing_data.sum()/(df.shape[0] * df.shape[1]) * 100

4.5822102425876015

In [38]:
#drop row where values are null

df.dropna()

,Unnamed: 0,district,D,R,Other,IncParty,IncName,open,contested,Bush2004,Kerry2004,Other2004,Bush2000,Gore2000
0,1,1,111650.0,49663.0,7850.0,D,Thompson,False,True,111754,173926,5508,98506,131376
1,2,2,54829.0,108002.0,5613.0,R,Herger,False,True,173528,102254,3980,150196,81861
2,3,3,72815.0,114155.0,5193.0,R,Lungren,False,True,176512,123671,2936,142946,107690
3,4,4,97705.0,105525.0,10754.0,R,Doolittle,False,True,216838,132267,4119,172169,104437
4,5,5,89119.0,29824.0,7110.0,D,Matsui,False,True,77788,125378,2172,66011,113987
5,6,6,127777.0,50061.0,6802.0,D,Woolsey,False,True,90432,226051,4574,87082,178746
7,8,8,119616.0,15859.0,13364.0,D,Pelosi,False,True,40558,244009,4024,37737,196878
8,9,9,148876.0,18810.0,4969.0,D,Lee,False,True,33450,228642,4082,31464,184030
13,14,14,123280.0,42451.0,8084.0,D,Eshoo,False,True,83326,188864,3981,84637,155165
20,21,21,37374.0,82258.0,4033.0,R,Nunes,False,True,133004,68501,1646,107645,65268
24,25,25,52555.0,89132.0,6426.0,R,McKeon,False,True,142052,96355,3057,108627,81893
25,26,26,64133.0,96728.0,8621.0,R,Dreier,False,True,148352,117532,3202,127468,105023
27,28,28,75532.0,19606.0,7005.0,D,Berman,False,True,49220,125351,2011,36762,112332
28,29,29,86454.0,37448.0,12159.0,D,Schiff,False,True,83448,136796,3097,79210,119396
29,30,30,141791.0,52968.0,4186.0,D,Waxman,False,True,109014,220181,3660,81336,199282
35,36,36,100296.0,50758.0,7280.0,D,Harman,False,True,103425,154010,3558,88619,130752
39,40,40,44440.0,97588.0,3701.0,R,Royce,False,True,138766,88631,2740,119443,86460
43,44,44,43551.0,69712.0,3454.0,R,Calvert,False,True,139476,94374,2562,101897,84048
45,46,46,68621.0,111648.0,6969.0,R,Rohrbacher,False,True,168158,122991,3734,145729,110984
47,48,48,71175.0,114686.0,5456.0,R,Campbell,False,True,178739,123664,3364,156340,106809
48,49,49,44608.0,83269.0,4145.0,R,Issa,False,True,149283,86998,2389,114193,75561
50,51,51,68514.0,30803.0,2407.0,D,Filner,False,True,85762,100062,1731,61008,85561
51,52,52,56309.0,114712.0,5942.0,R,Hunter,False,True,177055,108806,2509,143081,98633
52,53,53,92187.0,40918.0,3305.0,D,Davis,False,True,89890,146160,2953,74526,114435

In [39]:
#df.drop(axis = 1, how='any')
#df.drop(axis = 1, how ='all')

#atleast 1 not nan value
#df.drop(thresh = 1)

In [57]:
df.dropna(thresh = int(0.57 * df.shape[0]) , axis = 1)

,Unnamed: 0,district,D,R,Other,IncParty,IncName,open,contested,Bush2004,Kerry2004,Other2004,Bush2000,Gore2000
0,1,1,111650.0,49663.0,7850.0,D,Thompson,False,True,111754,173926,5508,98506,131376
1,2,2,54829.0,108002.0,5613.0,R,Herger,False,True,173528,102254,3980,150196,81861
2,3,3,72815.0,114155.0,5193.0,R,Lungren,False,True,176512,123671,2936,142946,107690
3,4,4,97705.0,105525.0,10754.0,R,Doolittle,False,True,216838,132267,4119,172169,104437
4,5,5,89119.0,29824.0,7110.0,D,Matsui,False,True,77788,125378,2172,66011,113987
5,6,6,127777.0,50061.0,6802.0,D,Woolsey,False,True,90432,226051,4574,87082,178746
6,7,7,106955.0,NaN,21021.0,D,Miller,False,False,72994,153988,2300,64477,139421
7,8,8,119616.0,15859.0,13364.0,D,Pelosi,False,True,40558,244009,4024,37737,196878
8,9,9,148876.0,18810.0,4969.0,D,Lee,False,True,33450,228642,4082,31464,184030
9,10,10,113663.0,58285.0,NaN,D,Tauscher,False,True,117037,169373,3098,109149,145996
10,11,11,92571.0,80112.0,NaN,R,Pombo,False,True,151397,127102,2306,125876,106354
11,12,12,109187.0,34966.0,NaN,D,Lantos,False,True,73740,193689,2646,70468,164490
12,13,13,100175.0,33828.0,NaN,D,Stark,False,True,60559,153598,2378,55803,126477
13,14,14,123280.0,42451.0,8084.0,D,Eshoo,False,True,83326,188864,3981,84637,155165
14,15,15,110502.0,42547.0,NaN,D,Honda,False,True,82742,145007,2903,74974,124880
15,16,16,94145.0,35606.0,NaN,D,Lofgren,False,True,70190,125415,2089,57160,109632
16,17,17,86617.0,26013.0,NaN,D,Farr,False,True,75005,149029,3144,68717,124580
17,18,18,63008.0,33242.0,NaN,D,Cardoza,False,True,80157,79764,1677,65105,77908
18,19,19,61610.0,93486.0,NaN,R,Radanovich,False,True,151603,93918,2308,125465,84559
19,20,20,56317.0,NaN,NaN,D,Costa,False,False,56045,58534,1023,46058,57790
20,21,21,37374.0,82258.0,4033.0,R,Nunes,False,True,133004,68501,1646,107645,65268
21,22,22,53610.0,130298.0,NaN,R,NaN,True,True,180584,82356,2747,141156,73338
22,23,23,92158.0,50241.0,NaN,D,Capps,False,True,101817,147361,3464,90550,119795
23,24,24,61359.0,98169.0,NaN,R,Gallegly,False,True,165430,127875,3473,140755,112436
24,25,25,52555.0,89132.0,6426.0,R,McKeon,False,True,142052,96355,3057,108627,81893
25,26,26,64133.0,96728.0,8621.0,R,Dreier,False,True,148352,117532,3202,127468,105023
26,27,27,88109.0,40160.0,NaN,D,Sherman,False,True,86397,130567,3034,70557,117120
27,28,28,75532.0,19606.0,7005.0,D,Berman,False,True,49220,125351,2011,36762,112332
28,29,29,86454.0,37448.0,12159.0,D,Schiff,False,True,83448,136796,3097,79210,119396
29,30,30,141791.0,52968.0,4186.0,D,Waxman,False,True,109014,220181,3660,81336,199282
30,31,31,60452.0,NaN,NaN,D,Becerra,False,False,26054,92894,1815,19400,79560
31,32,32,72685.0,NaN,15024.0,D,Solis,False,False,58341,99286,1756,45018,96217
32,33,33,105133.0,NaN,NaN,D,Watson,False,False,33132,172382,2631,24214,148978
33,34,34,53911.0,16532.0,NaN,D,Roybal-Allard,False,True,35926,82942,1654,27384,76876
34,35,35,77086.0,NaN,15262.0,D,Waters,False,False,33110,130764,1726,24495,118450
35,36,36,100296.0,50758.0,7280.0,D,Harman,False,True,103425,154010,3558,88619,130752
36,37,37,75580.0,NaN,16282.0,D,Millender-McDonald,False,False,43160,126068,2281,31832,112235
37,38,38,71028.0,23422.0,NaN,D,Napolitano,False,True,54869,106652,1846,41706,104612
38,39,39,69012.0,36004.0,NaN,D,Sanchez,False,True,70635,102660,2110,56067,98478
39,40,40,44440.0,97588.0,3701.0,R,Royce,False,True,138766,88631,2740,119443,86460
40,41,41,46443.0,95282.0,NaN,R,Lewis,False,True,149673,89424,2729,114498,83584
41,42,42,NaN,124140.0,NaN,R,Miller,False,False,164998,98108,2578,139655,92169
42,43,43,49101.0,27286.0,NaN,D,Baca,False,True,55952,79946,1497,41272,76710
43,44,44,43551.0,69712.0,3454.0,R,Calvert,False,True,139476,94374,2562,101897,84048
44,45,45,42384.0,62007.0,NaN,R,Bono,False,True,132288,101679,2102,93802,85427
45,46,46,68621.0,111648.0,6969.0,R,Rohrbacher,False,True,168158,122991,3734,145729,110984
46,47,47,42822.0,26507.0,NaN,D,Sanchez,False,True,56226,54623,1393,43752,59515
47,48,48,71175.0,114686.0,5456.0,R,Campbell,False,True,178739,123664,3364,156340,106809
48,49,49,44608.0,83269.0,4145.0,R,Issa,False,True,149283,86998,2389,114193,75561
49,50,50,91793.0,112209.0,7047.0,R,NaN,True,True,169935,135007,2891,136311,107436
50,51,51,68514.0,30803.0,2407.0,D,Filner,False,True,85762,100062,1731,61008,85561
51,52,52,56309.0,114712.0,5942.0,R,Hunter,False,True,177055,108806,2509,143081,98633
52,53,53,92187.0,40918.0,3305.0,D,Davis,False,True,89890,146160,2953,74526,114435

In [53]:
df.shape[0] //2

26

In [58]:
df.fillna(0, method = 'bfill')

,Unnamed: 0,district,D,R,Other,IncParty,IncName,open,contested,Bush2004,Kerry2004,Other2004,Bush2000,Gore2000
0,1,1,111650.0,49663.0,7850.0,D,Thompson,False,True,111754,173926,5508,98506,131376
1,2,2,54829.0,108002.0,5613.0,R,Herger,False,True,173528,102254,3980,150196,81861
2,3,3,72815.0,114155.0,5193.0,R,Lungren,False,True,176512,123671,2936,142946,107690
3,4,4,97705.0,105525.0,10754.0,R,Doolittle,False,True,216838,132267,4119,172169,104437
4,5,5,89119.0,29824.0,7110.0,D,Matsui,False,True,77788,125378,2172,66011,113987
5,6,6,127777.0,50061.0,6802.0,D,Woolsey,False,True,90432,226051,4574,87082,178746
6,7,7,106955.0,0.0,21021.0,D,Miller,False,False,72994,153988,2300,64477,139421
7,8,8,119616.0,15859.0,13364.0,D,Pelosi,False,True,40558,244009,4024,37737,196878
8,9,9,148876.0,18810.0,4969.0,D,Lee,False,True,33450,228642,4082,31464,184030
9,10,10,113663.0,58285.0,0.0,D,Tauscher,False,True,117037,169373,3098,109149,145996
10,11,11,92571.0,80112.0,0.0,R,Pombo,False,True,151397,127102,2306,125876,106354
11,12,12,109187.0,34966.0,0.0,D,Lantos,False,True,73740,193689,2646,70468,164490
12,13,13,100175.0,33828.0,0.0,D,Stark,False,True,60559,153598,2378,55803,126477
13,14,14,123280.0,42451.0,8084.0,D,Eshoo,False,True,83326,188864,3981,84637,155165
14,15,15,110502.0,42547.0,0.0,D,Honda,False,True,82742,145007,2903,74974,124880
15,16,16,94145.0,35606.0,0.0,D,Lofgren,False,True,70190,125415,2089,57160,109632
16,17,17,86617.0,26013.0,0.0,D,Farr,False,True,75005,149029,3144,68717,124580
17,18,18,63008.0,33242.0,0.0,D,Cardoza,False,True,80157,79764,1677,65105,77908
18,19,19,61610.0,93486.0,0.0,R,Radanovich,False,True,151603,93918,2308,125465,84559
19,20,20,56317.0,0.0,0.0,D,Costa,False,False,56045,58534,1023,46058,57790
20,21,21,37374.0,82258.0,4033.0,R,Nunes,False,True,133004,68501,1646,107645,65268
21,22,22,53610.0,130298.0,0.0,R,0,True,True,180584,82356,2747,141156,73338
22,23,23,92158.0,50241.0,0.0,D,Capps,False,True,101817,147361,3464,90550,119795
23,24,24,61359.0,98169.0,0.0,R,Gallegly,False,True,165430,127875,3473,140755,112436
24,25,25,52555.0,89132.0,6426.0,R,McKeon,False,True,142052,96355,3057,108627,81893
25,26,26,64133.0,96728.0,8621.0,R,Dreier,False,True,148352,117532,3202,127468,105023
26,27,27,88109.0,40160.0,0.0,D,Sherman,False,True,86397,130567,3034,70557,117120
27,28,28,75532.0,19606.0,7005.0,D,Berman,False,True,49220,125351,2011,36762,112332
28,29,29,86454.0,37448.0,12159.0,D,Schiff,False,True,83448,136796,3097,79210,119396
29,30,30,141791.0,52968.0,4186.0,D,Waxman,False,True,109014,220181,3660,81336,199282
30,31,31,60452.0,0.0,0.0,D,Becerra,False,False,26054,92894,1815,19400,79560
31,32,32,72685.0,0.0,15024.0,D,Solis,False,False,58341,99286,1756,45018,96217
32,33,33,105133.0,0.0,0.0,D,Watson,False,False,33132,172382,2631,24214,148978
33,34,34,53911.0,16532.0,0.0,D,Roybal-Allard,False,True,35926,82942,1654,27384,76876
34,35,35,77086.0,0.0,15262.0,D,Waters,False,False,33110,130764,1726,24495,118450
35,36,36,100296.0,50758.0,7280.0,D,Harman,False,True,103425,154010,3558,88619,130752
36,37,37,75580.0,0.0,16282.0,D,Millender-McDonald,False,False,43160,126068,2281,31832,112235
37,38,38,71028.0,23422.0,0.0,D,Napolitano,False,True,54869,106652,1846,41706,104612
38,39,39,69012.0,36004.0,0.0,D,Sanchez,False,True,70635,102660,2110,56067,98478
39,40,40,44440.0,97588.0,3701.0,R,Royce,False,True,138766,88631,2740,119443,86460
40,41,41,46443.0,95282.0,0.0,R,Lewis,False,True,149673,89424,2729,114498,83584
41,42,42,0.0,124140.0,0.0,R,Miller,False,False,164998,98108,2578,139655,92169
42,43,43,49101.0,27286.0,0.0,D,Baca,False,True,55952,79946,1497,41272,76710
43,44,44,43551.0,69712.0,3454.0,R,Calvert,False,True,139476,94374,2562,101897,84048
44,45,45,42384.0,62007.0,0.0,R,Bono,False,True,132288,101679,2102,93802,85427
45,46,46,68621.0,111648.0,6969.0,R,Rohrbacher,False,True,168158,122991,3734,145729,110984
46,47,47,42822.0,26507.0,0.0,D,Sanchez,False,True,56226,54623,1393,43752,59515
47,48,48,71175.0,114686.0,5456.0,R,Campbell,False,True,178739,123664,3364,156340,106809
48,49,49,44608.0,83269.0,4145.0,R,Issa,False,True,149283,86998,2389,114193,75561
49,50,50,91793.0,112209.0,7047.0,R,0,True,True,169935,135007,2891,136311,107436
50,51,51,68514.0,30803.0,2407.0,D,Filner,False,True,85762,100062,1731,61008,85561
51,52,52,56309.0,114712.0,5942.0,R,Hunter,False,True,177055,108806,2509,143081,98633
52,53,53,92187.0,40918.0,3305.0,D,Davis,False,True,89890,146160,2953,74526,114435

In [8]:
#Assignment questions

df.head()

,Unnamed: 0,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
0,2,United States,Federal state,US\nUSA,US,0.0,NaN,NaN,U.S.,U.S.,U.S.A.
1,3,Alabama,State,US-AL,AL,1.0,AL,AL,Ala.,Ala.,NaN
2,4,Alaska,State,US-AK,AK,2.0,AK,AK,Alaska,Alaska,Alas.
3,5,Arizona,State,US-AZ,AZ,4.0,AZ,AZ,Ariz.,Ariz.,Az.
4,6,Arkansas,State,US-AR,AR,5.0,AR,AR,Ark.,Ark.,NaN

In [16]:
df[df.isnull().sum(axis=1) == max(df.isnull().sum(axis=1))]

,Unnamed: 0,Name,Status,ISO,ANSI.letters,ANSI.digits,USPS,USCG,Old.GPO,AP,Other
70,72,U.S. Armed Forces _ Americas,US military mail code,NaN,NaN,NaN,AA,NaN,NaN,NaN,NaN
71,73,U.S. Armed Forces _ Europe,US military mail code,NaN,NaN,NaN,AE,NaN,NaN,NaN,NaN
72,74,U.S. Armed Forces _ Pacific,US military mail code,NaN,NaN,NaN,AP,NaN,NaN,NaN,NaN
73,76,Panama Canal Zone,Obsolete postal code,NaN,NaN,NaN,CZ,NaN,NaN,NaN,NaN
75,79,Trust Territory of the Pacific Islands,Obsolete postal code,NaN,NaN,NaN,TT,NaN,NaN,NaN,NaN